

	@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/


/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

*{
	margin:0 auto;
	padding:0 auto;
	}
	body{
		background-color:#FFF;
		font-family:Verdana, Geneva, sans-serif
		}
.banner{
	width:100%;
	height:130px;
	position:relative;
	background-color:#0C3
	}
	ul{
		list-style:none
		}
nav{
	width:50px;
	height:100%;
	position:fixed;
	top:0px;
	right:0px;
	float:right;
	background-color:#000;
	list-style:none;
	z-index:999
	}
	
	.imgMenu{
		position:relative;
		left:-35px;
		padding:6px;
		width:30px;
		height:30px;
		margin:0 auto;
		margin-bottom:0px;
		}
.imgMenu:hover{
	width:31px;
	height:31px;
	}
	
 .navGrande{
	width:250px;
	height:100%;
	position:fixed;
	top:0px;
	right:0px;
	float:right;
	background-color:#000;
	list-style:none;
	z-index:999
	
	}
	
.legenda{
	color:#FFF;
	display:none;
	position:relative;
	top:-15px;
}
	
	.loga{
		position:relative;
		top: 10%;
		left:30px;
		width:330px;
		height:160px;
		background-image:url(../img/loga2.png);
		background-repeat:no-repeat;
		background-size:60%;
		}
.linha{
	width:100%;
	height:20px;
	position:relative;
	top:5px;
	background-color:#0C3
	}
main{
	position:relative;
	top:10px;
	width:100%;
	margin-bottom:50px;
	}
.form{
	position:relative;
	margin:0 auto;
	width:80%;
	height:100%;
	}
.abas{
	position:relative;
	top:10px;
	width:100%;
	height:50px;
	padding-left:10px;
	}
.abaHorario{
		width:70px;
		height:100%;
		display:inline-block;
		border:1px #FFFFFF double;
		text-align:center;
		background-color:#0C3;
		border-radius:10px 3px 10px 3px
	}
.abaHorario p{
	font-size:0px;
	margin-top:10%;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF
	}
.abaEquipamento{
		width:70px;
		height:100%;
		display:inline-block;
		border:1px #FFFFFF double;
		text-align:center;
		background-color:#0C3;
		border-radius:10px 3px 10px 3px
	}
.abaEquipamento p{
				font-size:0px;
				margin-top:10%;
				font-family:Verdana, Geneva, sans-serif;
				color:#FFF
			}
.abaSala{
		width:70px;
		height:100%;
		display:inline-block;
		border:1px #FFFFFF double;
		text-align:center;
		background-color:#0C3;
		border-radius:10px 3px 10px 3px
	}
.abaSala p{
		font-size:0px;
		margin-top:10%;
		font-family:Verdana, Geneva, sans-serif;
		color:#FFF
	}
.icon{
	width:30px;
	height:30px;
	position:relative;
	float:left;
	left:20px;
	border-radius:3px;
	margin-bottom:10px;
	}
.alignAbas{
		position:relative;
		margin:0 auto;
	}
.janelas{
		position:relative;
		top:30px;
		width:100%;
		height:500px;
		margin-bottom:80px;
		border-radius:10px;
	}
.janelaHome{
		position:absolute;
		width:100%;
		height:100%;
	}
.buttonPrincipal{
			position:relative;
			top:50%;
			margin:0 auto;
			padding:10px;
			color:#FFF;
			width:200px;
			font-size:20px;
			border-radius:10px 0px 10px 0px;
			text-align:center;
			background-color:#0C3;
			box-shadow:5px 3px 5px 3px #666
		}
.buttonPrincipal:hover{
					background-color:#0C6
			}
.janelaHorario{
			position:absolute;
			width:100%;
			height:100%;
			display:none
		}
.janelaEquipamento{
				position:absolute;
				width:100%;
				padding-bottom:80px;
				display:none
			}
.janelaSala{
		position:absolute;
		width:100%;
		min-height:100%;
		display:none
	}
	.janelaConfimacao{
		position:absolute;
		width:100%;
		display:none;
		}
.abaSelecionada{
	background-color:#930
	}
.formHorario{
		position:relative;
		width:300px;
		top:10%;
		height:80%;
	}
	.formHorario p{
		margin-top:10px;
		text-align:center;
		font-size:18px
		}
	.formSala{
		position:relative;
		width:300px;
		top:10%;
		height:80%;
	}
	.formSala p{
		padding:10px;
		font-size:18px;
		}
		.formEquipamentos{
			position:relative;
			width:100%;
			top:10%;
			height:80%;
			}
		.equi{
			width:80px;
			height:80px;
			}
			.equipamentos{
				display:inline-block;
				margin-top:20px;
				margin-left:7px;
				text-align:center;
				font-size:18px
				}
.pass{
	position:absolute;
	width:100px;
	height:30px;
	top:90%;
	left:60%;
	background-color:#0C0;
	border-radius:10px;
	text-align:center;
	box-shadow:2px 2px 2px 2px #333
}
																	
.pass p {
		padding-top:5px;
	}
.pass:hover{
	background-color:#090
	}
.voltar{
	position:absolute;
	width:100px;
	height:30px;
	top:90%;
	left:2%;
	background-color:#0C0;
	border-radius:10px;
	text-align:center;
	box-shadow:2px 2px 2px 2px #333
}
.voltar p {
		padding-top:5px;
}
.voltar:hover{
			background-color:#090
		}
.format{
	position:relative;
	background-color:#0C3;
	width:150px;
	height:30px;
	border-radius:10px
	}
.itens{
	max-width:140px
}
.tableConfirm{
	width:100%;
	border:#0C3 solid 3px;
	text-align:center;
	margin-top:30px;
	margin-bottom:100px;
}
.tableConfirm td{
	width:33%;
	min-height:50px;
	border-bottom:#0C3 2px solid
}
.tableConfirm tr{
	border:#0C3 solid 2px;
}
a{
	text-decoration:none
	}
.perfil{
	width:70px;
	height:70px;
	background-color:#141414;
	position:absolute;
	top:20px;
	right:60px;
	border-radius:75px;
	}
	
	.dadosPessoais{
		width:100%;
		background-color:#033;
		color:#FFF;
		border-radius:10px;
		text-align:center;
		position:relative;
		padding:10px;
		left:-10%;
		margin-bottom:20px;
		display:block;
		}
	
	.contentDados{
		width:80%;
		position:relative;
		}
	#update{
		text-decoration:none;
		color:#FFF;
		}
	#update:hover{
		color:#09C
		}
	#antiga{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:25%;
	height: 20px;
}
#confirmar{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:25%;
	height: 20px;
}
.escuro{
	background-color: #000;
	opacity: 0.7;
	position: fixed;
	top:0px;
	height: 100%;
	width: 100%;
	z-index: 100;
}

.modal{
	width: 80%;
	height: 70%;
	background-color: #fff;
	position: fixed;
	top:5px;
	left:7%;
	display: none;
	z-index: 101;
}
.x{
	position: relative;
	top: 0px;
	margin-right:0%;
	background-color: #f00;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 0px 0px 3px 3px;
	cursor: pointer;
}
.x:hover{
	color: #fff;
}
table{
	text-align: center;
	width: 300px;
}
.imagem{
	width: 150px;
	height: 150px;
	position: relative;
	margin-left: 33%;
	margin-top: 30px;
}
.titulo{
	color: #2a4423;
	position: relative;
	margin-top: 0px;
	margin-left: 25%;
}

#nova{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:25%;
	height: 20px;
}
#botao{
	width: 100px;
	position: relative;
	margin-left:63%;
	margin-top: 10px;
	background-color: #4dbc72;
	border: 0px;
	height: 20px;
}

#botao:hover{
	background-color: #5ee58b;

}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
*{
	margin:0
	}
	body{
		background-color:#FFF;
		font-family:Verdana, Geneva, sans-serif
		}
.banner{
	width:100%;
	height:200px;
	position:relative;
	background-color:#006c01
	}
	ul{
		list-style:none
		}
nav{
	width:50px;
	height:100%;
	position:fixed;
	top:0px;
	right:0px;
	float:right;
	background-color:#1A1A1A;
	list-style:none;
	z-index:999
	}
	
	.imgMenu{
		position:relative;
		left:-35px;
		padding:6px;
		width:30px;
		height:30px;
		margin:0 auto;
		margin-bottom:0px;
		}
.imgMenu:hover{
	width:31px;
	height:31px;
	}
	
 .navGrande{
	width:250px;
	height:100%;
	position:fixed;
	top:0px;
	right:0px;
	float:right;
	background-color:#1A1A1A;
	list-style:none;
	z-index:999
	
	}
	
.legenda{
	color:#FFF;
	display:none;
	position:relative;
	top:-15px;
}
	
	.loga{
		position:relative;
		top: 10%;
		left:30px;
		width:330px;
		height:160px;
		background-image:url(../img/loga1.png);
		background-repeat:no-repeat;
		background-size:90%;
		}
.linha{
	width:100%;
	height:20px;
	position:relative;
	top:5px;
	background-color:#006c01
	}
main{
	position:relative;
	top:10px;
	width:100%;
	min-height:100%;
	}
.form{
	position:relative;
	margin:0 auto;
	width:800px;
	height:100%;
	}
.abas{
	position:relative;
	top:10px;
	width:100%;
	height:50px;
	padding-left:10px;
	}
.abaHorario{
		width:200px;
		height:100%;
		display:inline-block;
		border:1px #FFFFFF double;
		text-align:center;
		background-color:#006c01;
		border-radius:10px 3px 10px 3px
	}
.abaHorario p{
	font-size:20px;
	margin-top:10%;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF
	}
.abaEquipamento{
		width:200px;
		height:100%;
		display:inline-block;
		border:1px #FFFFFF double;
		text-align:center;
		background-color:#006c01;
		border-radius:10px 3px 10px 3px
	}
.abaEquipamento p{
				font-size:20px;
				margin-top:10%;
				font-family:Verdana, Geneva, sans-serif;
				color:#FFF
			}
.abaSala{
		width:200px;
		height:100%;
		display:inline-block;
		border:1px #FFFFFF double;
		text-align:center;
		background-color:#006c01;
		border-radius:10px 3px 10px 3px
	}
.abaSala p{
		font-size:20px;
		margin-top:10%;
		font-family:Verdana, Geneva, sans-serif;
		color:#FFF
	}
.icon{
	width:30px;
	height:30px;
	position:relative;
	float:left;
	left:15px;
	border-radius:3px;
	margin-bottom:10px;
	}
.alignAbas{
		position:relative;
		left:10%;
		margin:0 auto;
	}
.janelas{
		position:relative;
		top:30px;
		width:100%;
		border-radius:10px;
		display:block;
	}
.janelaHome{
		position:absolute;
		width:100%;
		border-radius:10px;
		}
.buttonPrincipal{
			position:relative;
			top:50%;
			margin:0 auto;
			padding:10px;
			color:#FFF;
			width:200px;
			font-size:20px;
			border-radius:10px 0px 10px 0px;
			text-align:center;
			background-color:#006c01;
			box-shadow:5px 3px 5px 3px #666
		}
.buttonPrincipal:hover{
					background-color:#0B7D13
			}
.janelaHorario{
			position:absolute;
			width:100%;
			border-radius:10px;
			display:none
		}
.janelaEquipamento{
				position:absolute;
				width:100%;
				padding-bottom:80px;
				border-radius:10px;
				display:none
			}
.janelaSala{
		position:absolute;
		width:100%;
		border-radius:10px;
		display:none
	}
	.janelaConfimacao{
		position:absolute;
		width:100%;
		border-radius:10px;
		display:none;
		}
.abaSelecionada{
	background-color:#930
	}
.formHorario{
		position:relative;
		margin:0 auto;
		width:300px;
		top:10%;
		height:80%;
	}
	.formHorario p{
		margin-top:10px;
		font-size:18px
		}
	.formSala{
		position:relative;
		margin:0 auto;
		width:300px;
	}
	.formSala p{
		font-size:18px;
		}
		.formEquipamentos{
			position:relative;
			margin:0 auto;
			width:100%;
			top:10%;
			height:80%;
			}
		.equi{
			width:100px;
			height:100px;
			}
			.equipamentos{
				margin:0 auto;
				display:inline-block;
				margin-top:20px;
				margin-left:40px;
				text-align:center;
				font-size:18px
				}
.pass{
	position:absolute;
	width:100px;
	height:30px;
	top:90%;
	left:85%;
	background-color:#006c01;
	border-radius:10px;
	text-align:center;
	box-shadow:2px 2px 2px 2px #333;
	color:#FFF
}
																	
.pass p {
		padding-top:5px;
	}
.pass:hover{
	background-color:#0B7D13
	}
.voltar{
	position:absolute;
	width:100px;
	height:30px;
	top:90%;
	left:2%;
	background-color:#006c01;
	border-radius:10px;
	text-align:center;
	box-shadow:2px 2px 2px 2px #333;
	color:#FFF;
}
.voltar p {
		padding-top:5px;
}
.voltar:hover{
			background-color:#0B7D13
		}
.format{
	position:relative;
	background-color:#0C3;
	width:150px;
	height:30px;
	border-radius:10px
	}
.itens{
	max-width:140px
}
.tableConfirm{
	width:100%;
	border:#0C3 solid 3px;
	text-align:center;
	margin-top:30px;
	margin-bottom:100px;
}
.tableConfirm td{
	width:33%;
	min-height:50px;
	border-bottom:#0C3 2px solid
}
.tableConfirm tr{
	border:#0C3 solid 2px;
}
a{
	text-decoration:none
	}
.perfil{
	width:150px;
	height:150px;
	background-color:#141414;
	position:absolute;
	top:25px;
	left:80%;
	border-radius:75px;
	}




.dadosPessoais{
		width:100%;
		background-color:#033;
		color:#FFF;
		border-radius:10px;
		text-align:center;
		position:relative;
		padding:10px;
		margin-bottom:20px;
		display:block;
		}
	
	.contentDados{
		width:300px;
		position:relative;
		margin:0 auto;
		}
	#update{
		text-decoration:none;
		color:#FFF;
		}
	#update:hover{
		color:#09C
		}
	#antiga{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:145px;
	height: 20px;
}
#confirmar{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:145px;
	height: 20px;
}
.escuro{
	background-color: #000;
	opacity: 0.7;
	position: fixed;
	top:0px;
	height: 100%;
	width: 100%;
	z-index: 100;
}

.modal{
	width: 500px;
	height: 400px;
	background-color: #fff;
	position: fixed;
	top: 100px;
	left: 450px;
	display: none;
	z-index: 101;
}
.x{
	position: relative;
	margin-left: 470px;
	top: 0px;
	background-color: #f00;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 0px 0px 3px 3px;
	cursor: pointer;
}
.x:hover{
	color: #fff;
}
table{
	text-align: center;
	width: 300px;
}
.imagem{
	width: 150px;
	height: 150px;
	position: relative;
	margin-left: 180px;
	margin-top: 30px;
}
.titulo{
	color: #2a4423;
	position: relative;
	margin-top: 0px;
	margin-left: 175px;
}

#nova{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:145px;
	height: 20px;
}
#botao{
	width: 100px;
	position: relative;
	margin-left: 250px;
	margin-top: 10px;
	background-color: #4dbc72;
	border: 0px;
	height: 20px;
}

#botao:hover{
	background-color: #5ee58b;

}
}