@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
*{
	margin:0;
	}
	body{
		background-color:#FFF;
		font-family:Verdana, Geneva, sans-serif;
		}
.banner{
	width:100%;
	height:100px;
	position:relative;
	background-color:#006c01
	}
	ul{
		list-style:none
		}
nav{
	width:40px;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color:#000;
	list-style:none;
	z-index:999;
	}
	
	.imgMenu{
		position:relative;
		left:-40px;
		padding:6px;
		width:25px;
		height:25px;
		margin:0 auto;	
		margin-bottom:0px;
		}
.imgMenu:hover{
	width:26px;
	height:26px;
	}
	
 .navGrande{
	padding-top:10px;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	right:0px;
	float:right;
	background-color:#000;
	list-style:none;
	z-index:999
	
	}
	
.legenda{
	color:#FFF;
	display:none;
	position:relative;
	top:-15px;
}
	
	.loga{
		position:relative;
		top: 10%;
		left:43px;
		width:130px;
		height:70px;
		background-image:url(../img/loga1.png);
		background-repeat:no-repeat;
		background-size:110%;
		}
.linha{
	width:100%;
	height:20px;
	position:relative;
	top:5px;
	background-color:#006c01
	}
main{
	position:relative;
	top:10px;
	width:100%;
	}
.contentMain{
		position:relative;
		top:100px;
		width:400px;
		height:300px;
		background-color:#B1CCAA;
		margin:0 auto;
		border-radius:20px;
	}
	.msg{
		position:relative;
		margin:0 auto;
		top:100px;
		width:300px;
		height:100px;
		text-align:center;
		background-color:#006c01;
		color:#FFF;
		border:#000 ridge 3px;
		box-shadow:#999 10px 5px 4px 1px;
		border-radius:10px 0px 10px 0px
		}
	.msg p{
		position:relative;
		top:35%;
		font-size:24px;
		font-family:Tahoma, Geneva, sans-serif
	}
	a{
		text-decoration:none
		}
	
.tableList{
	padding-top:20px;
	width:80%;
	margin:0 auto;
	}
.tableList table{
	margin:0 auto;
	width:800px;
	text-align:center;
	border:#0C3 ridge 3px
	}
.tableList td{
	font-size: 15px;
	height:30px;
	border-bottom:1px ridge #0C3;
	}
.print{
	width: 100px;
	font-size: 18px;
	text-align:center;
	color: white;
	background-color: #0C3;
	border-radius: 10px;
	margin: 10px auto;
}
.print:hover{
	background-color: #090
}
.opcs{
	width: 800px;
	margin: 0  auto;
	text-align:center;
}
.perfil{
	width:80px;
	height:80px;
	background-color:#141414;
	position:absolute;
	top:10px;
	right:50px;
	border-radius:75px;
	}
	#carregar{
		width:500px;
		height:300px;
		position:fixed;
		left:33%;
		z-index:999;
		display:none;
		}
	.con{
		width:100%;
		height:100%;
		background-color:#000;
		opacity:0.6;
		position:fixed;
		top:0px;
		display:none
		}
		
.dadosPessoais{
		width:100%;
		background-color:#033;
		color:#FFF;
		border-radius:10px;
		text-align:center;
		position:relative;
		padding:10px;
		margin-bottom:20px;
		display:block;
		}
	
	.contentDados{
		width:300px;
		position:relative;
		top:50px;
		margin:0 auto;
		}
	#update{
		text-decoration:none;
		color:#FFF;
		}
	#update:hover{
		color:#09C
		}
	#antiga{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:145px;
	height: 20px;
}
#confirmar{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:145px;
	height: 20px;
}
.escuro{
	background-color: #000;
	opacity: 0.7;
	position: fixed;
	top:0px;
	height: 100%;
	width: 100%;
	z-index: 100;
}

.modal{
	width: 500px;
	height: 400px;
	background-color: #fff;
	position: fixed;
	top: 100px;
	left: 450px;
	display: none;
	z-index: 101;
}
.x{
	position: relative;
	margin-left: 470px;
	top: 0px;
	background-color: #f00;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 0px 0px 3px 3px;
	cursor: pointer;
}
.x:hover{
	color: #fff;
}
table{
	text-align: center;
	width: 300px;
}
.imagem{
	width: 150px;
	height: 150px;
	position: relative;
	margin-left: 180px;
	margin-top: 30px;
}
.titulo{
	color: #2a4423;
	position: relative;
	margin-top: 0px;
	margin-left: 175px;
}

#nova{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:145px;
	height: 20px;
}
#botao{
	width: 100%;
	position: relative;
	margin-top: 10px;
	background-color: #4dbc72;
	border: 0px;
	height: 20px;
}

#botao:hover{
	background-color: #5ee58b;

}
.input{
	min-height:35px;
	display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input:focus{
	color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
.button{
	min-height:37px;
	border-radius:4px;
	background-color:#335B2F;
	color:#FFF;
	font-family:"Arial Black", Gadget, sans-serif;
	cursor:pointer;
	}
	.label{
		border-radius:3px;
		float:left;
 		color: #fff;
  		background-color: #007bff;
  		border-color: #007bff;
		margin-top:10px;
		border-top:1.3px solid #38963D;
		width:100%;
		height:25px;
		padding:10px;
	}
	.label:hover{
 	 	color: #fff;
 	 	background-color: #0069d9;
 	 	border-color: #0062cc;
		
		}
.file{
	min-height:35px;
	display:none;
	}
	
#preview{
	margin-top:50px;
		width:100%;
		height:200px;
		display:none;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:40%;
	}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
*{
	margin:0;
	}
	body{
		background-color:#FFF;
		font-family:Verdana, Geneva, sans-serif;
		}
.banner{
	width:100%;
	height:200px;
	position:relative;
	background-color:#006c01
	}
	ul{
		list-style:none
		}
nav{
	width:50px;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	float:left;
	background-color:#000;
	list-style:none;
	z-index:999
	}
	
	.imgMenu{
		position:relative;
		left:-35px;
		padding:6px;
		width:30px;
		height:30px;
		margin:0 auto;
		margin-bottom:0px;
		}
.imgMenu:hover{
	width:31px;
	height:31px;
	}
	
 .navGrande{
	width:260px;
	height:100%;
	position:fixed;
	top:0px;
	right:0px;
	float:right;
	background-color:#000;
	list-style:none;
	z-index:999
	
	}
	
.legenda{
	color:#FFF;
	display:none;
	position:relative;
	top:-15px;
}
	
	.loga{
		position:relative;
		top: 10%;
		left:7%;
		width:330px;
		height:160px;
		background-image:url(../img/loga1.png);
		background-repeat:no-repeat;
		background-size:90%;
		}
.linha{
	width:100%;
	height:20px;
	position:relative;
	top:5px;
	background-color:#006c01
	}
main{
	position:relative;
	top:10px;
	width:100%;
	}
.contentMain{
		position:relative;
		top:100px;
		width:400px;
		height:300px;
		background-color:#B1CCAA;
		margin:0 auto;
		border-radius:20px;
	}
	.msg{
		position:relative;
		margin:0 auto;
		top:100px;
		width:300px;
		height:100px;
		text-align:center;
		background-color:#006c01;
		color:#FFF;
		border:#000 ridge 3px;
		box-shadow:#999 10px 5px 4px 1px;
		border-radius:10px 0px 10px 0px
		}
	.msg p{
		position:relative;
		top:35%;
		font-size:24px;
		font-family:Tahoma, Geneva, sans-serif
	}
	a{
		text-decoration:none
		}
	
.tableList{
	padding-top:20px;
	width:80%;
	margin:0 auto;
	}
.tableList table{
	margin:0 auto;
	width:800px;
	text-align:center;
	border:#0C3 ridge 3px
	}
.tableList td{
	font-size: 15px;
	height:30px;
	border-bottom:1px ridge #0C3;
	}
.print{
	width: 100px;
	font-size: 18px;
	text-align:center;
	color: white;
	background-color: #0C3;
	border-radius: 10px;
	margin: 10px auto;
}
.print:hover{
	background-color: #090
}
.opcs{
	width: 800px;
	margin: 0  auto;
	text-align:center;
}
.perfil{
	width:150px;
	height:150px;
	background-color:#141414;
	position:absolute;
	top:25px;
	right:100px;
	border-radius:75px;
	}
	#carregar{
		width:500px;
		height:300px;
		position:fixed;
		left:33%;
		z-index:999;
		display:none;
		}
	.con{
		width:100%;
		height:100%;
		background-color:#000;
		opacity:0.6;
		position:fixed;
		top:0px;
		display:none
		}
		
.dadosPessoais{
		width:100%;
		background-color:#033;
		color:#FFF;
		border-radius:10px;
		text-align:center;
		position:relative;
		padding:10px;
		margin-bottom:20px;
		display:block;
		}
	
	.contentDados{
		width:300px;
		position:relative;
		top:50px;
		margin:0 auto;
		}
	#update{
		text-decoration:none;
		color:#FFF;
		}
	#update:hover{
		color:#09C
		}
	#antiga{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:145px;
	height: 20px;
}
#confirmar{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:145px;
	height: 20px;
}
.escuro{
	background-color: #000;
	opacity: 0.7;
	position: fixed;
	top:0px;
	height: 100%;
	width: 100%;
	z-index: 100;
}

.modal{
	width: 500px;
	height: 400px;
	background-color: #fff;
	position: fixed;
	top: 100px;
	left: 450px;
	display: none;
	z-index: 101;
}
.x{
	position: relative;
	margin-left: 470px;
	top: 0px;
	background-color: #f00;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 0px 0px 3px 3px;
	cursor: pointer;
}
.x:hover{
	color: #fff;
}
table{
	text-align: center;
	width: 300px;
}
.imagem{
	width: 150px;
	height: 150px;
	position: relative;
	margin-left: 180px;
	margin-top: 30px;
}
.titulo{
	color: #2a4423;
	position: relative;
	margin-top: 0px;
	margin-left: 175px;
}

#nova{
	border: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	width: 230px;
	position: relative;
	margin-top: 10px;
	margin-left:145px;
	height: 20px;
}
#botao{
	width: 100px;
	position: relative;
	margin-left: 250px;
	margin-top: 10px;
	background-color: #4dbc72;
	border: 0px;
	height: 20px;
}

#botao:hover{
	background-color: #5ee58b;

}
.input{
  min-height:35px;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input:focus{
	color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
.button{
	min-height:37px;
	border-radius:4px;
	background-color:#335B2F;
	color:#FFF;
	font-family:"Arial Black", Gadget, sans-serif;
	cursor:pointer;
	}
.label {
  min-height:15px;
  border-radius:2px;
  width:100%;
  cursor:pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.label:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.label:focus, .label.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.label.disabled, .label:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.label:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
	
.file{
	 position: relative;
 	 z-index: 2;
  	 width: 100%;
  	 height: calc(2.25rem + 2px);
  	 margin: 0;
  	 opacity: 0;
	}
#preview{
	margin-top:50px;
		width:100%;
		height:200px;
		display:none;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:40%;
	}
}
